[Unit]
Description=Prune Services
After=pspider.service

[Service]
Type=simple
User=prune
ExecStart=/usr/sbin/pruned
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
