[Unit]
Description=Prune Crawler
After=network.target

[Service]
Type=simple
User=prune
ExecStart=/usr/sbin/pspiderd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
